@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --main-black-color: black;
  --main-white-color: white;
  --main-green-color: #5BCB02;
  --main-grey-light-color: #F8F8F8;
  --main-grey-standard-color: #EEEEEE;
  --main-grey-dark-color: #A1A2A4;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
